{% extends 'base.html.twig' %}

{% block body %}

    {% for post in posts %}

        {% include 'default/_partials/_show_post.html.twig' with {'post': post} %}

    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}

