{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ category.name }}</h1>

    {% for post in category.posts %}

        {% include 'default/_partials/_show_post.html.twig' with {'post': post} %}

    {% endfor %}

{% endblock %}

