{% extends 'base.html.twig' %}

{% block body %}

    {% include 'default/_partials/_show_post.html.twig' with {'post': post} %}

    <h3>{{ 'comments.title'|trans }}</h3>

    {% for comment in post.comments %}
        <h4>{{ comment.title }} - {{ comment.createdAt|date('d-m-Y H:i') }}</h4>
        <p>{{ comment.content }}</p>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
