<div class="blog-post">
    <h2 class="blog-post-title"><a href="{{ path('view_post', {'id': post.id }) }}">{{ post.title }}</a></h2>

    {% if post.category is not null %}
        <p class="blog-post-meta">{{ 'category'|trans }} : <a href="{{ path('view_category', {'id': post.category.id}) }}">{{ post.category }}</a></p>
    {% endif %}

    <p class="blog-post-meta">{{ 'published_at'|trans }} {{ post.createdAt|date('d-m-Y') }}</p>

    <p>{{ post.content }}</p>
</div>
